html {
  height: 100%;
  width: 100%;
  font-family: "Titillium Web", sans-serif;
}

body {
  min-height: 100%;
  min-width: 100%;
  background: linear-gradient(pink, violet);
}

button {
  font-size: 7px;
}

#main-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

#list {
  margin: 10px;
  border: 1px solid #333;
  background: rgba(255, 255, 255, 0.75);
  padding: 15px 20px 18px 18px;
  border-radius: 5px;
  box-shadow: 2px 5px 5px #333;
}

/* invisible marker to avoid resizing on hover */
li::marker {
  content:'✓';
  color: transparent;
}

tr.task-entry-row:hover {
  background-color: #73937E;
}

li:hover::marker {
  content:'✓';
  color: green;
}

/* display classes */
.priority-high {
  background-color: #7b435b;
  color: white;
}

.priority-high .col-desc {
  font-weight: bold;
}

.priority-medium {
  background-color: #8B687F;
}

.priority-low {
  background-color: #9FA0C3;
}

.hide, .complete, .delete {
  display: none;
  margin: 0;
  padding: 0;
}

/* table formatting */

#list {
  width: 80%;
  max-width: 1000px;
}

#tasks {
  width: 100%;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}

td {
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  justify-content: center;
}

td div.wrapper {
  display: flex;
  justify-content: center;
}

tr td.col-desc {
  text-align: left;
}

table .col-status {
  width: 20px;
}

table .col-priority, .col-date {
  width: 100px;
}

table .col-delete {
  width: 40px;
}
